// TYPE

typeface-primary= "GTSectraBook", Arial, sans-serif
typeface-primary-italic= "GTSectraBookItalic", Arial, sans-serif
typeface-secondary= "GTSectraDisplayLight", Times, Georgia, serif
typeface-secondary-italic= "GTSectraDisplayLightItalic", Times, Georgia, serif
typeface-tertiary= HelveticaNeue-Medium, "ApercuMono", Andale Mono, monospaced

// COLORS

// color-background= #F2F1EF
color-background= rgba(252, 251, 250, 1)
color-background-trans= rgba(252, 251, 250, 0)
color-text= rgba(0,0,0,.6)
color-black= rgba(0,0,0,1)
color-brown= #a36b50
color-darkbrown= #201D1B
color-darkgrey= #404041
color-creme= #F8F5F0
color-gold= #4B5320
color-brand-dark= #000000
color-brand-light= #FCFBFA

// BREAKPOINTS (matches flexboxgrid)

phone=	"(min-width: 30em)"
tablet=	"(min-width: 48em)"
laptop=	"(min-width: 62em)"
desktop=	"(min-width: 75em)"
bigscreen=	"(min-width: 100em)"

// SPACING UNITS

unit0=		4px
unit1=		8px
unit2=		16px
unit3=		24px
unit4=		32px
unit5=		40px
unit6=		48px
unit7=		56px
unit8=		64px
unit9=		72px
unit10=		80px
unit11=		88px
unit12=		96px
unit13=		104px
unit14=		112px
unit15=		120px
